<nav class="navbar navbar-expand-lg fixed-top theme-bg"
     data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand"
           href="{{ cot::reverse!(urls, "index")? }}"
           aria-label="Go to homepage">Mateusz Maćkowski</a>
        <button class="ms-auto navbar-toggler p-2"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#cot-offcanvas-navbar"
                aria-controls="cot-offcanvas-navbar"
                aria-label="Toggle navigation">
            <svg class="bi">
                <use href="#three-dots"></use>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="cot-offcanvas-navbar"
             aria-labelledby="cot-offcanvas-navbar-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="cot-offcanvas-navbar-label">Mateusz Maćkowski</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {%- let route_name = base_context.route_name -%}
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link{% if route_name == "about" %} active{% endif %}"
                           href="{{ cot::reverse!(urls, "about")? }}">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/m4tx">GitHub</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                                id="cot-theme"
                                type="button"
                                aria-expanded="false"
                                data-bs-toggle="dropdown"
                                data-bs-display="static"
                                aria-label="Toggle theme (dark)">
                            <svg class="bi my-1 theme-icon-active">
                                <use href="#moon-stars-fill"></use>
                            </svg>
                            <span class="d-lg-none ms-2" id="cot-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-xxl-start">
                            <li>
                                <button type="button"
                                        class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light"
                                        aria-pressed="false">
                                    <svg class="bi me-2">
                                        <use href="#sun-fill"></use>
                                    </svg>
                                    Light
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="dark"
                                        aria-pressed="false">
                                    <svg class="bi me-2">
                                        <use href="#moon-stars-fill"></use>
                                    </svg>
                                    Dark
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="auto"
                                        aria-pressed="true">
                                    <svg class="bi me-2">
                                        <use href="#circle-half"></use>
                                    </svg>
                                    Auto
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
